[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.c]
indent_size = 4
curly_bracket_next_line = false
indent_brace_style = K&R

[Makefile]
indent_style = tab
